# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit tests
.pytest_cache/

# Pycharm files
.idea/

# Data directory
var/

# Node modules
node_modules/

# Distribution front end
frontend/dist/