@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootswatch/dist/flatly/variables";

main {
  padding: 80px 15px 0;
}

th {
  white-space: nowrap;
}

table th:nth-child(n+1):nth-child(n+2) {
  @extend .text-end;
}

table td:nth-child(n+1):nth-child(n+2) {
  @extend .text-end;
}

#latest-prices th:first-child {
  width: 80%;
}

#prices-per-prefecture th:first-child {
  width: 99%;
}
