.main {
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 800px;
}

#latest-prices tr {
    display: none;
}

#latest-prices td:nth-child(2) {
    text-align: right;
}

#latest-prices td:nth-child(3) {
    text-align: right;
}

.fuel-type-label {
    font-weight: bold;
}
